label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
}

.monthlabel {
    width: 150px;
    text-align: center;
}

input {
    width: 150px;
}

select {
    width: 150px;
}

textarea:focus, input:focus {
    border: 2px solid #900;
}

table {
    border: 0px;

    /* don't allow browser text-selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th {
    text-align: right;
    margin-right: 15px;
    width: 100px;
}

td {
    text-align: right;
    margin-right: 15px;
    width: 100px;
}

.calendarday {
    width: inherit;
    height: 25px;
    background-color: #bdbdbd;
}

    .calendarday > th {
        color: white;
        text-align: center;
    }
    
.calendardate {
    width: inherit;
    height: 55px;
    background-color: #dedede;
}

    .calendardate:hover {
        background-color: white;
        cursor: pointer;
    }

    .calendardate > label {
        float: left;
        text-align: left;
    }

.calendardateblocked {
    width: inherit;
    height: 55px;
    background-color: #fafafa;
    color: #dedede;
}

.calendardate-sun-mon {
    width: inherit;
    height: 55px;
    background-color: #949494;
    color: #dedede;
}

.calendardate,
.calendardateblocked,
.calendardate-sun-mon {
        padding: 5px;
        vertical-align: top;
        text-align: left;
}

.bezet {
    background-color: #ffffff;
    color: white;
}

.nietbezet {
    background-color: #13cb00;
    color: white;
}

.disabled {
    color: black;
    background-color: #cbcbcb;
}

.NextDay {
    color: black;

    cursor: pointer;
    padding: 4px 25px;
    background: #ffffff;
    border: 1px solid #000000;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0 .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);

    font-size: 0.8em;
    width: 90px;
}

    .NextDay:hover, .NextDay:focus {
        background-color: #d1d1d1;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }