* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

:-moz-any-link {
    outline: 0;
}

body {
    font-family: "Open Sans", serif;
}

a {
    font-family: Nunito, serif;
    color: #8e675d;
    text-decoration: none;
}

    a:hover, a p:hover {
        text-decoration: underline;
    }

a p {
    color: #8e675d;
}

body {
    height: 100%;
    line-height: 1;
    background: black url("../images/bg4.jpg") no-repeat fixed ;
    background-size: 100%;
}

    @media only screen and (max-width: 600px) {
        body {
            background-image: none;
        }

        #main-page p.header-text {
            font-size: 30px;
        }
    }

footer {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 1px solid black;
}

.white-background {
    background-color: rgba(255, 255, 255, 0.35);
    height: auto;
    width: auto;
    padding: 15px 0;

    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0 .15);
    box-shadow: 2px 2px 2px rgba(0,0,0, .15);
}

.white-background-margin {
    margin: 20px auto;
}

.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.lowercase {
    text-transform: lowercase;
}

.inline-block {
    display: inline-block;
}

.clear {
    clear: both;
}

.block {
    display: block;
}

.divider {
    margin: 50px auto 50px auto;
    width: 50%;
    border-bottom: 1px solid black;
}

    @media only screen and (max-width: 600px) {
        .divider {
            width: 75%;
        }
    }

.divider-light {
    margin: 5px auto 10px;
    width: 75%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

    @media only screen and (max-width: 600px) {
        .divider {
            width: 75%;
        }
    }

.loading-gif {
    width: 25px;
    height: 25px;
    margin: auto;
}

.button {
    cursor: pointer;

    background-color: black;
    font-family: Nunito, serif;
    font-size: 25px;
    color: #ffffff;

    border: 1px solid black;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    display: block;
    width: 200px;
    margin: 50px auto 50px auto;
    padding: 7px 13px;
    text-align: center;
    white-space: nowrap;

    /*disable chrome outline on focus/activation*/
    outline: 0;
}

    .button:enabled:active {
        vertical-align: top;
        padding: 8px 13px 6px;
    }

    .button:hover:enabled {
        border: 1px solid white;
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px 2px 2px rgba(0,0,0 .15);
        box-shadow: 2px 2px 2px rgba(0,0,0, .15);
    }

.button:disabled {
    background-color: #747474;
    border: 1px solid #747474;
}

.button-delete {

}

.barber-name {
    font-family: Lobster, serif;
    font-size: 37px;
}

#summary-text img {
    vertical-align: middle;
}

#basic-wrapper {
    width: 75%;
    margin: auto;
}

.small-text {
    padding-top: 10px;
    font-family: Nunito, serif;
    font-size: 11px;
}


/*********************/
/*
    LOGO / HEADER
                    */
/*********************/

#main-header {
    width: 100%;
    height: 130px;
    line-height: 130px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
}

#header-name {
    font-family: Lobster, serif;
    font-size: 40px;

    margin-bottom: 10px;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
}

#header-logo {
    width: 250px;
    height: 85px;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
}

    @media only screen and (max-width: 600px) {
        #header-logo {
            width: 249px;
            height: 85px;
        }
    }

    @media only screen and (max-width: 450px) {
        #header-logo {
            width: 220px;
            height: 75px;
        }
    }



/*********************/
/*
    NAVIGATION BAR
                    */
/*********************/

a#login-button {
    /*background-color: yellow;*/
    display: inline-block;
}

#navigation-background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: rgba(253, 243, 211, 0.9);*/
    /*border-top: 1px solid black;*/
    position: relative;
    vertical-align: top;
}

    @media only screen and (max-width: 750px) {
        nav#navigation-background {
            border-bottom: 1px solid black;
        }
    }

.navigation-container {
    position: relative;
    width: 80%;
    height: 30px;
    max-width: 1024px;
    margin: auto;
    line-height: 30px;
}

.navigation-left {
    text-align: center;
}

.navigation-right {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    vertical-align: top;
}

nav#navigation-background ul li {
    text-align: center;
    display: inline-block;
    margin: auto 25px auto 0;
}

    nav#navigation-background ul li:last-child {
        margin-right: 0;
    }

nav a {
    font-size: 15px;
    font-family: "Open Sans", serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

    nav#navigation-background a:hover {
        text-decoration: underline;
    }

        @media only screen and (max-width: 350px) {
            nav#navigation-background ul li a {
                font-size: 15px;
            }
        }





#header-text-header {
    font-family: Lobster, serif;
    font-size: 50px;
    margin: -10px auto 75px auto;
    border-bottom: 1px solid black;
    width: 80%;
    position: relative;
    top: 20px;
}

    @media only screen and (max-width: 450px) {
        #header-text-header {
            font-size: 40px;
        }
    }

.header-text-big {
    font-family: Lobster, serif;
    font-size: 50px;
    margin: auto auto 50px auto;
    position: relative;
    top: 50px;
}

.header-text-small {
    font-family: Lobster, serif;
    font-size: 25px;
    text-transform: capitalize;
}

section ul {
    margin: 20px auto 50px auto;
    list-style: none;
}

section ul li {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}

.barbers {
    border: 1px solid #000000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section ul li a {
    color: black;
}






/*********************/
/*
    CUSTOM FORM STYLE
                    */
/*********************/

.cut-selector > input, .cut-selector div > input {
    visibility: hidden;
    position: absolute;
}

.cut-selector input{
    position: absolute;
    z-index: 999;
}

.hair, .beard, .moustache, .all {
    width: 140px;
    height: 140px;
}

.hair {
    background-image:url("../images/index/yes-hair-no-beard.png");
}
.beard {
    background-image:url("../images/index/no-hair-yes-beard.png");
}
.moustache {
    background-image:url("../images/index/no-hair-no-beard-yes-moustache.png");
}
.all {
    background-image:url("../images/index/yes-hair-yes-beard.png");
}

    @media only screen and (max-width: 800px) {
        .hair, .beard, .moustache, .all {
            width: 110px;
            height: 110px;
        }
    }

    @media only screen and (max-width: 768px) {
        .hair, .beard, .moustache, .all {
            width: 100px;
            height: 100px;
        }
    }

    @media only screen and (max-width: 600px) {
        .cut-selector .white-background {
            width: 100% !important;
        }

        .hair, .beard, .moustache, .all {
            width: 120px;
            height: 120px;
        }
    }

    @media only screen and (max-width: 480px) {
        .hair, .beard, .moustache, .all {
            width: 100px;
            height: 100px;
        }
    }






.barber-selection {
    cursor: pointer;

    padding: 5px;
    margin: auto 10px 10px auto;

    font-family: Lobster, serif;
    font-size: 35px;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;

    width: 150px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div form#mainForm div.cut-selector div.white-background {
    padding-top: 27px;
    padding-bottom: 27px;
 }

.cut-selector input:active +.trans {
    opacity: 1;
}
div.cut-selector div#cuts input:checked +.trans {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

div.cut-selector div#barbers input:checked +.trans {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.trans {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.25);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.25);
    filter: brightness(1.8) grayscale(1) opacity(.25);
}

.trans:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
    filter: brightness(1.2) grayscale(.5) opacity(1);
}

.cut-selector .white-background {
    width: 75%;
    margin: auto;
}

section#main-page div#summary-header div.white-background {
    width: 75%;
    margin: auto;
}

#calendar-wrapper div.white-background {
    width: 75%;
    height: 195px;
    margin: auto;
}

#main-page {
    width: 80%;
    height: auto;
    min-height: 650px;
    max-width: 1024px;
    margin: 30px auto;
    padding: 30px 15px;
    background-color: rgba(253, 243, 211, 0.99);
    text-align: center;

    -moz-box-shadow: 10px 10px 10px 1px #888888;
    -webkit-box-shadow: 1px 1px 10px 1px #888888;
    box-shadow: 1px 1px 10px 1px #888888;
}

    @media only screen and (max-width: 750px) {
        #main-page {
            width: 100%;
            margin: 0;
        }
    }

.header-text {
    font-family: "Droid Serif", serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

    @media only screen and (max-width: 450px) {
        .header-text {
            font-size: 35px;
        }
    }

.header-text-lobster {
    font-family: Lobster, serif;
    font-size: 50px;
    color: black;
}

p.header-text {
    margin: 0;
}

#main-page p.header-text {
    margin: 0 auto 30px;
    text-align: center;
}

.hair-beard-img {
    cursor: pointer;
    width: 140px;
    height: 140px;
}

#main-page #summary-header .header-text tr .hair-beard-img {
    cursor: default;
}

.monthlabel {
    width: 150px;
    text-align: center;
}

textarea:focus, input:focus {
    border: 2px solid #7fa59a;
}

table {
    border: 0;
    /* don't allow browser text-selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th {
    text-align: right;
    margin-right: 15px;
    width: 100px;
}

td {
    text-align: right;
    margin-right: 15px;
}

.appointments-table, .appointments-table-clear {
    float: left;
}

.appointments-table-clear {
    clear: left;
}

    .appointments-table > td {
        width: 200px;
    }

.appointments-time {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    background-color: #72c8e9;
    width: 200px;
}

.appointments-key {
    text-align: left;
}



/*********************/
/*
    CALENDAR STYLE
                    */
/*********************/

#calendar-wrapper {
    height: 150px;
}

#calendar {
    width: 81%;
    margin: 2px auto;
    border-collapse: separate;
    border-spacing: 0;
}

.calendartoday {
    background: rgba(142, 142, 142, 0.25);
}

.calendarday, .calendardate, .calendardateblocked, .calendardate-sun-mon {
    font-family: Nunito, serif;
}

.calendardate, .calendardateblocked, .calendardate-sun-mon {
    vertical-align: top;
    text-align: left;
    height: 25px;
    width: 100px;
}

.calendarday {
    height: 25px;
    background-color: #5d4437;
}

    .calendarday > th {
        color: white;
        text-align: center;
        padding-top: 3px;
    }

.calendardate .divBox {
    cursor: pointer;

    color: black;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.calendardate .divBox label {
    color: black;
}

    .calendardate .divBox:hover {
        background-color: white;
    }

    .date-radio:checked + label {
        background-color: white;
    }

.calendardate > label, .calendardate > span {
    float: left;
    text-align: left;
}

.calendardateblocked .divBox span {
    color: #c2c2c2;
}

.calendardate-sun-mon .divBox span {
    color: #c2c2c2;
}

.divBox {
    width: 100%;
    height: 100%;
}

.divBox label, .divBox span {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 0 0 5px;
}

    @media only screen and (max-width: 450px) {
        .calendarday {
            font-size: 13px;
        }
    }



/*********************/
/*
    BOOKING/TIMESTABLE
                        */
/*********************/


#cut-time {
    width: 100px;
    height: 100px;
}

#cut-time-text {
    font-family: Nunito, serif;
    margin-top: 5px;
    font-size: 20px;
}

.time-button {
    cursor: pointer;

    background: transparent;
    border: none;

    font-family: Nunito, serif;
    color: black;
    font-size: 30px;

    margin: -5px auto;
    padding: 0;
    float: right;

    outline: 0;
    transition: 0.2s;
}

    .times-container:hover .time-button {
        color: white;
        text-decoration: underline;
        transition: 0.1s;
    }

.time-button-taken {
    background: transparent;
    border: none;

    font-family: Nunito, serif;
    font-size: 30px;
    color: #b2b2b2;

    margin: -5px auto;
    padding: 0;
    float: right;
}

.time-taken {
    color: #b2b2b2;
}

.time-open {
    color: black;
}

#date-and-time-times-container {
    text-align: left;
    height: 0;
    overflow: auto;
}

.times-container-day {
    height: auto;
    width: 66.3%;
    margin-bottom: 20px;
    padding: 20px 0 0 10px;
    display: inline-block;
}

/*these hold the times */
.times-container div, .times-container-taken div {
    position: relative;
    float: left;
}

.times-container div p, .times-container-taken div p {
    margin: auto auto auto 5px;
    font-family: Nunito, serif;
    font-size: 30px;
    float: left;
}

.times-container, .times-container-taken {
    cursor: pointer;

    width: auto;
    display: inline-block;
    margin-left: 45px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding-bottom: 5px;
}

.times-container-taken {
    cursor: default;
}

.times-container div p:last-child, .times-container-taken div p:last-child {
    font-size: 15px;
    float: left;
}

.times-icon, .times-icon-taken {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    float: left;
}

#morning-header, #afternoon-header, #evening-header {
    height: auto;
    width: 19.6%;
    margin-right: 15px;
    float: left;
    clear: left;
}

span#date-and-time-header {
    font-family: Lobster, serif;
    text-transform: lowercase;
    font-size: 50px;
    color: #000000;
    display: block;
    width: 71%;
    margin: 100px auto 35px auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

#date-and-time-times-container p.header-text {
    text-align: left;
    text-transform: capitalize;
    font-family: Lobster, serif;
    font-size: 45px;
    color: #5d4437;
    margin: 0 auto 0 auto;
}

div.month-name {
    width: 71%;
    height: 70px;
    margin: 45px auto auto auto;
    border-top: 1px solid black;
    position: relative;
    overflow: hidden;
}

.month-name .header-text {
    text-transform: capitalize;
    font-size: 50px;
    font-family: Lobster, serif;
    margin: 25px auto 0 auto;
    position: absolute;
    left: 50px;
    top: -10px;
}

#month-name-header-helper {
    position: absolute;
    width: 50%;
    height: 100%;
    float: left;
    left: 0;
    top: 0;
}

#month-arrow-helper {
    position: absolute;
    width: 50%;
    height: 100%;
    float: right;
    right: 0;
    top: 0;

}

#calendar-arrow {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: inline-block;

    position: absolute;
    bottom: 0;
    right: 50px;
}

    #calendar-arrow:active {
        padding: 2px 2px 2px;
    }

#summary-header .header-text {
    margin: auto;
}

#summary-header .header-text th {
    text-align: center;
    width: 250px;
    font-size: 30px;
}

#main-page #summary-header .header-text tr td {
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
}

#main-page #summary-header .header-text tr td:not(:nth-child(3)) {
    border-right: 1px solid rgba(0, 0, 0, 0.075);
}



    @media only screen and (max-width: 800px) {
        .times-container-day {
            width: 100%;
        }

        #summary-header .white-background {
            padding: 10px 0 0 0;
        }
        table.header-text {
            width: 95%;
        }

        #cut {
            width: 95px;
            height: 95px;
        }
        #cut-time {
            width: 70px;
            height: 70px;
        }

        #cut-time-text {
            font-size: 15px;
        }

        .barber-name {
            font-size: 25px;
        }

        #summary-header .header-text th {
            font-size: 25px;
        }

        #calendar {
            width: 90%;
        }

        #calendar-header-text {
            left: 10px;
        }

        #calendar-arrow {
            right: 10px;
        }

        #morning-header, #afternoon-header, #evening-header {
            float: none;
            height: auto;
        }

        .time-button, .time-button-taken {
            font-size: 25px;
        }

        .times-container, .times-container-taken {
            margin: 0 0 20px 25px;
            width: auto;
        }

        .times-icon, .times-icon-taken {
            margin-right: 5px;
        }
    }

    @media only screen and (max-width: 600px) {
        section#main-page div#summary-header div.white-background {
            width: 100%;
        }

        #calendar-wrapper div.white-background {
            width: 100%;
        }

        #calendar {
            width: 95%;
        }

        #calendar-header-text {
            left: 0;
        }

        #calendar-arrow {
            right: 0;
        }

        div.month-name {
            width: 95%;
        }

        #main-page #summary-header .header-text tr .hair-beard-img {
            width: 100px;
            height: 100px;
        }

        section #date-and-time span#date-and-time-header {
            font-size: 35px;
        }
        
        .times-container, .times-container-taken {
            margin-bottom: 20px;
        }

        #morning-header, #afternoon-header, #evening-header {
            font-size: 35px !important;
        }
    }

    @media only screen and (max-width: 480px) {
        section#main-page div#summary-header div.white-background, div#calendar-wrapper div.white-background {
            width: 100%;
        }

        #calendar {
            width: 99%;
        }

        #calendar-header-text {
            left: 0;
            top: 0;
            font-size: 40px;
        }

        #calendar-arrow {
            right: 0;
        }

        div.month-name {
            width: 95%;
        }

        #main-page #summary-header .header-text tr .hair-beard-img {
            width: 70px;
            height: 70px;
        }

        section #date-and-time span#date-and-time-header {
            font-size: 25px;
        }

        .times-icon, .times-icon-taken {
            width: 25px;
            height: 25px;
        }

        .times-container, .times-container-taken {
            margin-left: 15px;
            margin-bottom: 20px;
        }

        div#times-table div#morning-header p.header-text,
        div#times-table div#afternoon-header p.header-text,
        div#times-table div#evening-header p.header-text {
            font-size: 30px;
        }
    }

    @media only screen and (max-width: 320px) {
        #calendar-header-text {
            left: 0;
            top: 0;
        }

        #summary-header .header-text th, .barber-name {
            font-size: 15px;
        }

        #cut-time-text {
            font-size: 13px;
        }

        #main-page #summary-header .header-text tr .hair-beard-img {
            width: 50px;
            height: 50px;
        }
    }



/*********************/
/*
        GEGEVENS
                        */
/*********************/

#summary-barbername-wrapper, #summary-datetime-wrapper {
    /*background-color: green;*/
    display: inline-block;
}

#wrapper {
    height: inherit;
    min-height: 400px;
    margin-bottom: 100px;
}

#summary-wrapper {
    border-right: 1px solid black;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    height: auto;
    width: 30%;
}

#summary-wrapper p.header-text {
    font-family: Lobster, serif;
    margin: 0 0 30px 0;
}

#summary-wrapper-icon img {
    cursor: default;
}

#summary-wrapper-text {
    margin: 35px auto 20px auto;
    line-height: 30px;
}

#summary-wrapper-text .barber-name {
    font-size: 45px;
    padding: 0 10px 0 10px;
    border-right: 1px solid black;
}

#summary-wrapper-text #chosen-time, #summary-wrapper-text #chosen-etime {
    text-align: left;
    font-family: Nunito, serif;
    font-size: 25px;
}

#summary-wrapper-text-time #chosen-etime {
    position: relative;
    top: -6px;
    font-size: 15px;
}

#summary-wrapper-text #chosen-time {
}

p#chosen-month {
    font-family: Lobster, serif;
    font-size: 25px;
}

    @media only screen and (max-width: 320px) {
        div.gegevens div.white-background a#login-button.button {
            font-size: 20px !important;
        }
    }




/**/
/*GEGEVENS FORM*/

section#gegevens-form div.gegevens {
    margin: 10px auto;
}

div.gegevens .white-background #login-button {
    margin: 10px;
}

#gegevens-form > div.gegevens:first-child {
    margin-top: 0;
}

#gegevens-form {
    /*background-color: rgba(255, 255, 255, 0.35);*/
    display: inline-block;
    width: 45%;
    margin-left: 20px;
    vertical-align: top;
    line-height: 30px;
}

#gegevens-form .white-background table {
    margin: auto;
    width: 80%;
}

#gegevens-form .white-background table tr td:first-child {
    text-align: left;
}

#gegevens-form .white-background p:first-child {
    margin: auto auto 40px;
    text-align: center;
}

#gegevens-form .white-background {
    width: 100%;
}

#gegevens-form .button {
    margin: 20px auto 10px auto;
    width: 200px;
}

.gegevens-form-buttons-wrapper {
    /*background-color: green;*/
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.gegevens-form-button {
    display: inline-block;
    width: 30% !important;
    font-size: 20px;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
}

form#mainForm div.gegevens input {
    width: 50%;
}




label {
    /*float: left;*/
    text-align: left;
    width: 150px;
}

input[type="submit"] {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: transparent;
    font-family: "Open Sans", serif;
    font-size: 17px;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid black;
}

    input:focus {
        border: 1px solid #aeaeae;
    }

.input-text {
    font-family: Nunito, serif;
    font-size: 25px;
}

input[type="submit"]:active, input[type="submit"]:focus {
    outline: none;
    -moz-outline-style: 0;
}

input[type="submit"].button:active, input[type="submit"].button:focus {
    outline: none;
    -moz-outline-style: 0;
}

input[type="submit"].button {
    margin: 0;
}

    @media only screen and (max-width: 1000px) {
        #wrapper {
            min-height: 0;
            margin-bottom: 10px;
        }

        #summary-wrapper {
            float: none;
            clear: both;
            width: 100%;
            border-right: none;
        }

        #gegevens-form {
            float: none;
            clear: both;
            margin: 10px 0 0 0;
            padding-bottom: 10px;
            width: 100%;
        }

        #chosen-month {
            position: relative;
        }

        #chosen-time, #chosen-etime {
            position: relative;
        }
    }

    @media only screen and (max-width: 320px) {
        form#mainForm div.gegevens input {
            width: 75%;
        }
    }


/*********************/
/*
         CONTACT
                      */
/*********************/

#contactpage-maps-wrapper, #contactpage-text-wrapper {
    height: 500px;
    vertical-align: top;
    display: inline-block;
}

#contactpage-text-wrapper {
    width: 30%;
    margin-right: 5px;
}

#contactpage-text-wrapper .white-background {
    padding-right: 15px;
}

#contactpage-maps-wrapper {
    width: 45%;
    margin-left: 5px;
}

#contact-wrapper, #phone-wrapper, #facebook-wrapper {
    /*background-color: purple;*/
    display: flex;
    width: 100%;
}

#phone-wrapper, #facebook-wrapper {
    /*background-color: grey;*/
    line-height: 70px;
}

#contact-img-wrapper, #phone-img-wrapper, #facebook-img-wrapper {
    /*background-color: green;*/
    width: 100px;
    height: 70px;
    margin: 20px 10px 0 10px;
 }

#contact-text-wrapper, #phone-text-wrapper, #facebook-text-wrapper {
    width: 300px;
    height: 70px;
    margin: 20px 0 20px 0;
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#phone-text-wrapper, #facebook-text-wrapper {
    /*background-color: orange;*/
}

#contact-text-wrapper {
    /*background-color: yellow;*/
    padding-top: 7px;
}

#contact-text-wrapper p, #phone-text-wrapper p, #facebook-text-wrapper p {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#phone-text-wrapper p, #facebook-text-wrapper p {
    font-size: 15px;
}

#facebook-text-wrapper a {
    font-family: "Open Sans", serif !important;
}

.contact-img {
    width: 70px;
    height: 70px;
}

#map {
    /*background-color: yellow;*/
    border: 1px solid black;

    width: 100%;
    height: 500px;
}

    @media only screen and (max-width: 1024px) {
        #contactpage-text-wrapper {
            width: 40%;
        }

        #contactpage-maps-wrapper {
            width: 35%;
            height: inherit;
        }

        #contact-text-wrapper {
            height: auto;
        }

        #contact-img-wrapper {
            width: 70px;
        }
    }

    @media only screen and (max-width: 800px) {
        #contactpage-maps-wrapper, #contactpage-text-wrapper {
            background-color: rgba(255, 255, 255, 0.55);
            width: 75%;
            height: auto;
            display: block;
            margin: 0 auto 10px auto;
        }

        #contact-img-wrapper, #phone-img-wrapper, #facebook-img-wrapper {
            /*background-color: green;*/
            width: 100px;
            height: 70px;
            margin: 5px 10px 0 10px;
        }

        #contact-text-wrapper, #phone-text-wrapper, #facebook-text-wrapper {
            width: 300px;
            height: 70px;
            margin: 5px 0 20px 0;
            text-align: left;
        }

        #map {
            height: 300px;
        }
    }

    @media only screen and (max-width: 320px) {
        #contactpage-maps-wrapper, #contactpage-text-wrapper {
            background-color: rgba(255, 255, 255, 0.55);
            width: 95%;
            height: auto;
            display: block;
            margin: 0 auto 10px auto;
        }

        #contact-img-wrapper, #phone-img-wrapper, #facebook-img-wrapper {
            /*background-color: green;*/
            width: 50px;
            height: 50px;
            margin: 5px 10px 0 10px;
        }

        .contact-img {
            width: 50px;
            height: 50px;
        }

        #contact-text-wrapper, #phone-text-wrapper, #facebook-text-wrapper {
            width: 300px;
            height: 50px;
            margin: 5px 0 20px 0;
            text-align: left;
        }

        #contact-text-wrapper {
            padding-top: 0;
            padding-bottom: 5px;
            height: auto;
        }

        #phone-text-wrapper, #facebook-text-wrapper {
            line-height: 50px;
        }
    }






/*********************/
/*
         INDEX
                        */
/*********************/

table#opening-times {
    margin: auto;
    width: 30%;
}

table#opening-times tr td:first-child {
    text-align: left;
}

table#opening-times tr td:nth-child(2) {
    text-align: right;
}

#over-ons {
    width: 75%;
    margin: auto;
    line-height: 20px;
}

#over-ons-text, #over-ons-barbers {
    /*background-color: red;*/
    width: 95%;
    margin: 10px auto 20px;
    font-family: "Open Sans", serif;
    font-size: 15px;
}

#over-ons-text a {
    font-family: "Open Sans", serif;
}

#over-ons-text .header-text-small {
    font-size: 40px;
}

#over-ons-text .header-text, #over-ons-barbers .header-text {
    margin-bottom: 40px !important;
}

#over-ons-jeroen-wrapper, #over-ons-juno-wrapper {
    /*background-color: green;*/
    height: auto;
    display: inline-block;
    margin: auto;
}

#over-ons-jeroen-wrapper {
    margin-right: 40px;
}

#over-ons-juno-wrapper {
    margin-left: 40px;
}

div#over-ons div.white-background div#over-ons-jeroen-wrapper p.header-text-lobster,
div#over-ons div.white-background div#over-ons-juno-wrapper p.header-text-lobster {
    margin-top: 20px;
    font-size: 45px;
}

div#over-ons-barbers p.header-text-big {
    /*background-color: green;*/
    margin-bottom: 70px;
    border-bottom: 1px solid black;
    width: 75%;
}

#over-ons-jeroen-wrapper img, #over-ons-juno-wrapper img {
    width: 250px;
    height: 250px;

    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0 0 4px rgba(0,0,0 .85);
    box-shadow: 0 0 4px rgba(0,0,0, .85);
}

    @media only screen and (max-width: 1024px) {
        #over-ons-jeroen-wrapper img, #over-ons-juno-wrapper img {
            width: 200px;
            height: 200px;
        }

        table#opening-times {
            width: 50%;
        }
    }

    @media only screen and (max-width: 800px) {
        #main-page p.header-text {
            font-size: 35px;
        }

        #over-ons-jeroen-wrapper img, #over-ons-juno-wrapper img {
            width: 160px;
            height: 160px;
        }

        #over-ons-jeroen-wrapper {
            margin-right: 20px;
        }

        #over-ons-juno-wrapper {
            margin-left: 20px;
        }

        div#over-ons div.white-background div#over-ons-jeroen-wrapper p.header-text-lobster,
        div#over-ons div.white-background div#over-ons-juno-wrapper p.header-text-lobster {
            font-size: 35px;
        }
    }

    @media only screen and (max-width: 600px) {
        #header-text-header {
            font-size: 40px;
        }

        .navigation-container {
            width: 100%;
        }

        .footer-container {
            width: 100% !important;
            font-size: 10px !important;
        }

        .navigation-right, .left, .right {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    @media only screen and (max-width: 480px) {
        #over-ons {
            width: 95%;
        }

        #over-ons-text {
            width: 80%;
        }

        #over-ons-text .header-text-small {
            font-size: 30px;
        }

        #over-ons-jeroen-wrapper, #over-ons-juno-wrapper {
            display: inline;
            margin: auto;
        }

        #over-ons-juno-wrapper {
            border-top: 1px solid rgba(0, 0, 0, 0.10);
        }

        #over-ons-jeroen-wrapper img, #over-ons-juno-wrapper img {
            width: 200px;
            height: 200px;
            margin: auto;
        }

        div#over-ons div.white-background div#over-ons-jeroen-wrapper p.header-text-lobster,
        div#over-ons div.white-background div#over-ons-juno-wrapper p.header-text-lobster {
            font-size: 30px;
            margin-top: 5px;
            margin-bottom: 30px;
        }

        table#opening-times {
            width: 60%;
        }
    }

    @media only screen and (max-width: 320px) {
        nav#navigation-background ul li {
            margin-right: 17px;
        }

        nav#navigation-background ul li a, a#login-button {
            font-size: 12px;
        }

        .navigation-container {
            line-height: 27px;
        }

        .navigation-left {
            text-align: left;
            padding-left: 5px;
        }

        #main-page p.header-text {
            line-height: 25px;
        }

        table#opening-times {
            width: 95%;
        }
    }




/*********************/
/*
         REGISTER
                        */
/*********************/

.login-register-wrapper {
    /*background-color: green;*/
    width: 25%;
    margin: auto 20px auto 20px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

#account-wrapper-wide {
    width: 80%;
    margin: auto;
    text-align: center;
}

.login-register-wrapper a, #account-wrapper-wide a {
    font-family: "Open Sans", serif;
}

.input-text-small {
    font-family: Nunito, serif;
    font-size: 20px;
}

.registerbutton {
    margin: auto;
    text-align: center;
}

form div.login-register-wrapper input {
    margin-bottom: 0;
}

form div.login-register-wrapper label {
    display:inline-block;
    margin-top: 5px;
}

#register-button {
    margin: 20px auto 0;
    width: 25%;
}

form .login-register-wrapper .small-text {
    padding: 1px;
}

.error-text {
    color: #e35152;
}

.error-text-wrapper {
    /*background-color: green;*/
    width: auto;
    height: 25px;
}

    @media only screen and (max-width: 800px) {
        .login-register-wrapper {
            width: 50%;
        }

        #register-button {
            width: 50%;
        }
    }

    @media only screen and (max-width: 768px) {
        footer.footer-sticky {
            position: absolute;
            bottom: 0;
        }
    }

    @media only screen and (max-width: 480px) {
        footer.footer-sticky {
            position: relative;
        }
    }

    @media only screen and (max-width: 320px) {
        #basic-wrapper {
            width: 95%;
        }
        
        .login-register-wrapper {
            width: 75%;
        }

        #register-button {
            font-size: 17px;
        }
    }



/*********************/
/*
         ACCOUNT
                     */
/*********************/

#account-text p {
    padding: 0;
    font-family: Nunito, serif;
    font-size: 10px;
    text-align: center;
}

#account-image, #account-text {
    /*background-color: yellow;*/
    display: inline-block;
}

#account-image > img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#account-image {
    vertical-align: top;
    margin-right: 40px;
}

#account-text {
    text-align: left;
    line-height: 25px;
}

#account-text > a {
    line-height: 25px;
}

.appointment-title {
    width: 140px;
    display: inline-block;
}

.appointment-value {
    width: 140px;
    display: inline-block;
    text-align: right;
}

.appointment-value, .appointment-title {
    font-size: 15px;
    font-family: "Open Sans", serif;
}

#account-text input {
    margin-bottom: 10px;
}

#account-text input[type="submit"] {
    width: 60%;
    margin: auto;
}

#edit-account-form {
    display: inline;
}


/*********************/
/*
         CREDITS
                        */
/*********************/

#credits {
    font-family: "Open Sans", serif;
    width: 75%;
    margin: auto;
}

#credits-text {
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 25px;
}

#credits-text h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

#credits-text a {
    font-family: "Open Sans", serif;
    color: black;
    text-transform: uppercase;
}


/*********************/
/*
         FOOTER
                        */
/*********************/

.footer-container {
    width: 80%;
    max-width: 1024px;
    font-family: "Open Sans", serif;
    font-size: 13px;
    line-height: 50px;
    margin: auto;
}

.footer-container .left {
    float: left;
}

.footer-container .right {
    float: right;
}

.footer-container a {
    font-family: "Open Sans",serif;
    color: black;
}


/*********************/
/*
         MISC
                        */
/*********************/

/*confirmation page "tot dan"*/
div.bedankt.inline-block p:nth-child(3) {
    font-family: Lobster, serif;
    font-size: 30px;
}

.bedankt {
    vertical-align: top;
    margin: auto auto auto 15px;
}

#img-big {
    width: 250px;
    height: 250px;
    position: relative;
}

.text-only p {
    top: 0;
}



.bezet {
    background-color: #b50000;
    color: #f8f8f8;
}

.nietbezet {
    background-color: #13cb00;
    color: white;
}

.disabled {
    color: black;
    background-color: #cbcbcb;
}

.NextDay {
    color: black;

    cursor: pointer;
    padding: 4px 25px;
    background: #ffffff;
    border: 1px solid #000000;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0 .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);

    font-size: 0.8em;
    width: 90px;
}

    .NextDay:hover, .NextDay:focus {
        background-color: #d1d1d1;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }