* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

:-moz-any-link {
    outline: 0;
}

a {
    font-family: Nunito, serif;
    color: white;
    text-decoration: none;
}

    a:hover {
        /*color: #e8e8e8;*/
        text-decoration: underline;
    }

body {
    line-height: 1;
    background-image: url("../images/bg4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

    @media only screen and (max-width: 600px) {
        body {
            background-image: none;
        }
    }

.divider {
    margin: 50px auto 50px auto;
    width: 50%;
    border-bottom: 1px solid black;
}

    @media only screen and (max-width: 600px) {
        .divider {
            width: 75%;
        }
    }

.button {
    cursor: pointer;

    background-color: black;
    font-family: Nunito, serif;
    font-size: 30px;
    color: #ffffff;

    border: 1px solid black;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    display: block;
    width: 200px;
    margin: 50px auto 50px auto;
    padding: 7px 13px;
    text-align: center;
    white-space: nowrap;

    /*disable chrome outline on focus/activation*/
    outline: 0;
}

    .button:enabled:active {
        vertical-align: top;
        padding: 8px 13px 6px;
    }

.button:disabled {
    background-color: #747474;
    border: 1px solid #747474;
}

.barber-name {
    font-family: Lobster, serif;
}

#summary-text img {
    vertical-align: middle;
}



/*********************/
/*
    LOGO / HEADER
                    */
/*********************/

#main-header {
    width: 100%;
    height: 120px;
    line-height: 120px;
    /*display: inline-block;*/
    text-align: center;
    background-color: white;
}

#header-name {
    font-family: Lobster, serif;
    font-size: 40px;

    margin-bottom: 10px;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
}

#header-logo {
    margin-right: 25px;
    width: 110px;
    height: 110px;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #header-logo {
        /*visibility: hidden;*/
        width: 85px;
        height: 85px;
    }

    #header-name {
        font-size: 30px;
    }
}

@media only screen and (max-width: 450px) {
    #header-logo {
        /*visibility: hidden;*/
        width: 75px;
        height: 75px;
        margin-right: 10px;
    }

    #header-name {
        font-size: 20px;
    }
}



/*********************/
/*
    NAVIGATION BAR
                    */
/*********************/

nav#navigation-background {
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid black;
}

    @media only screen and (max-width: 750px) {
        nav#navigation-background {
            border-bottom: 1px solid black;
        }
    }

    nav#navigation-background .navigation-helper {
        width: 100%;
        height: 100%;
        vertical-align: top;
    }

    nav#navigation-background .navigation-helper ul {
        position: relative;
        padding: 0;
        margin: auto;
        list-style: none;
        text-align: center;
        transform: translateY(-50%);
        top: 50%;
    }

nav#navigation-background ul li {
    text-align: center;
    display: inline-block;
    margin-right: 25px;
}

    nav#navigation-background ul li:last-child {
        margin-right: 0;
    }

nav#navigation-background ul li a {
    font-size: 20px;
    font-family: Nunito, serif;
    text-decoration: none;
    color: white;
}

    nav#navigation-background ul li a:hover {
        text-decoration: underline;
    }

@media only screen and (max-width: 350px) {
    nav#navigation-background ul li a {
        font-size: 15px;
    }
}





#header-text-header {
    font-family: Lobster, serif;
    font-size: 50px;
    margin: auto auto 75px auto;
    border-bottom: 1px solid black;
    width: 80%;
    position: relative;
    top: 20px;
}

    @media only screen and (max-width: 450px) {
        #header-text-header {
            font-size: 40px;
        }
    }

.header-text-big {
    font-family: Lobster, serif;
    font-size: 50px;
    margin: auto auto 50px auto;
    position: relative;
    top: 50px;
}

.header-text-big + p {
    font-family: Lobster, serif;
    font-size: 30px;
    margin: auto auto 50px auto;
    position: relative;
    top: 15px;
}

.header-text-small {
    font-family: Lobster, serif;
    font-size: 25px;
}

section ul {
    margin: 20px auto 50px auto;
    list-style: none;
}

section ul li {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}

.barbers {
    border: 1px solid #000000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section ul li a {
    color: black;
}

/*section ul li label {*/
    /*cursor: pointer;*/
    /*padding: 5px;*/
    /*font-family: Lobster, serif;*/
    /*font-size: 35px;*/
    /*color: #000000;*/
    /*text-align: center;*/
/*}*/






/*********************/
/*
    CUSTOM FORM STYLE
                    */
/*********************/

.cut-selector > input, .cut-selector div > input {
    visibility: hidden;
    position: absolute;
}

.cut-selector input{
    position: absolute;
    z-index: 999;
}

.hair {
    background-image:url("../images/index/yes-hair-no-beard.png");
    width: 140px;
    height: 140px;
}
.beard {
    background-image:url("../images/index/no-hair-yes-beard.png");
    width: 140px;
    height: 140px;
}
.moustache {
    background-image:url("../images/index/no-hair-no-beard-yes-moustache.png");
    width: 140px;
    height: 140px;
}
.all {
    background-image:url("../images/index/yes-hair-yes-beard.png");
    width: 140px;
    height: 140px;
}

.barber-selection {
    cursor: pointer;

    padding: 5px;
    margin: auto 10px 10px auto;

    font-family: Lobster, serif;
    font-size: 35px;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;

    width: 150px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cut-selector input:active +.trans {
    opacity: 1;
}
.cut-selector input:checked +.trans {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.trans {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.25);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.25);
    filter: brightness(1.8) grayscale(1) opacity(.25);
}

.trans:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
    filter: brightness(1.2) grayscale(.5) opacity(1);
}





#main-page {
    width: 80%;
    height: auto;
    min-height: 500px;
    margin: 30px auto;
    padding: 0 15px 5px;
    background-color: rgba(253, 243, 211, 0.9);
    text-align: center;
}

    @media only screen and (max-width: 750px) {
        #main-page {
            width: 100%;
            margin: 0;
        }
    }

.header-text {
    font-family: Nunito, serif;
    font-size: 50px;
    color: black;
}

    @media only screen and (max-width: 450px) {
        .header-text {
            font-size: 35px;
        }
    }

.header-text-lobster {
    font-family: Lobster, serif;
    font-size: 50px;
    color: black;
}

p.header-text {
    margin: 0;
}

#main-page p.header-text {
    margin: 25px auto 25px auto;
    text-align: center;
}

.hair-beard-img {
    cursor: pointer;
    width: 140px;
    height: 140px;
}

#main-page #summary-header .header-text tr .hair-beard-img {
    cursor: default;
}

.monthlabel {
    width: 150px;
    text-align: center;
}

textarea:focus, input:focus {
    border: 2px solid #7fa59a;
}

table {
    border: 0;
    /* don't allow browser text-selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th {
    text-align: right;
    margin-right: 15px;
    width: 100px;
}

td {
    text-align: right;
    margin-right: 15px;
}

.appointments-table, .appointments-table-clear {
    float: left;
}

.appointments-table-clear {
    clear: left;
}

    .appointments-table > td {
        width: 200px;
    }

.appointments-time {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    background-color: #72c8e9;
    width: 200px;
}

.appointments-key {
    text-align: left;
}

footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    clear: both;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 1px solid black;
}



/*********************/
/*
    CALENDAR STYLE
                    */
/*********************/

#calendar {
    width: 71%;
    margin: 5px auto;
    border-collapse: separate;
    border-spacing: 0;
}

.calendarday, .calendardate, .calendardateblocked, .calendardate-sun-mon {
    font-family: Lobster, serif;
}

.calendardate, .calendardateblocked, .calendardate-sun-mon {
    vertical-align: top;
    text-align: left;
    height: 25px;
    width: 100px;
}

.calendarday {
    height: 25px;
    background-color: #5d4437;
}

    .calendarday > th {
        color: white;
        text-align: center;
        padding-top: 3px;
    }

.calendardate .divBox {
    cursor: pointer;

    color: black;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.calendardate .divBox label {
    color: white;
}

.calendardate .divBox:hover {
    background-color: black;
}

.date-radio:checked + label {
    background-color: black;
}

.calendardate > label, .calendardate > span {
    float: left;
    text-align: left;
}

.calendardateblocked .divBox span {
    color: #5e5e5e;
}

.calendardate-sun-mon .divBox span {
    color: #848484;
}

.divBox {
    width: 100%;
    height: 100%;
}

.divBox label, .divBox span {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 0 0 5px;
}





/*********************/
/*
    BOOKING/TIMESTABLE
                        */
/*********************/

.time-button {
    cursor: pointer;

    background: transparent;
    border: none;

    font-family: Nunito, serif;
    color: black;
    font-size: 30px;

    margin: -5px auto;
    padding: 0;
    float: right;

    outline: 0;
    transition: 0.2s;
}

    .times-container:hover .time-button {
        color: white;
        text-decoration: underline;
        transition: 0.1s;
    }

.time-button-taken {
    background: transparent;
    border: none;

    font-family: Nunito, serif;
    font-size: 30px;
    color: #b2b2b2;

    margin: -5px auto;
    padding: 0;
    float: right;
}

.times-container div, .times-container-taken div {
    position: relative;
    float: left;
}

.times-container div p, .times-container-taken div p {
    margin: auto auto auto 5px;
    font-family: Nunito, serif;
    font-size: 30px;
    float: right;
}

.time-taken {
    color: #b2b2b2;
}

.time-open {
    color: black;
}

#date-and-time-times-container {
    /*background-color: green;*/
    text-align: left;
    height: 0;
    overflow: auto;
}

.times-container, .times-container-taken {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid black;*/
    cursor: pointer;

    width: 200px;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.times-container-taken {
    cursor: default;
}

.times-container div p:last-child, .times-container-taken div p:last-child {
    font-size: 15px;
    float: left;
}

.times-icon {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    float: left;
}

.times-icon-taken {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    float: left;
}

#morning-header, #afternoon-header, #evening-header {
    width: 19.6%;
    margin-right: 15px;
    float: left;
    clear: left;
}

#morning-header {
    height: 200px;
}

#afternoon-header {
    height: 400px;
}

#evening-header {
    height: 100px;
}

section #date-and-time span#date-and-time-header {
    /*background-color: green;*/
    font-family: Lobster, serif;
    color: #000000;
    display: block;
    width: 71%;
    margin: 60px auto 35px auto;
    padding-top: 10px;
}

section #date-and-time #date-and-time-times-container p.header-text {
    text-align: left;
    font-family: Lobster, serif;
    font-size: 45px;
    color: #5d4437;
    margin: 0 auto 25px auto;
}

div.month-name {
    width: 71%;
    margin: 35px auto 0 auto;
    padding-top: 10px;
    border-top: 1px solid black;
}

#main-page .month-name p.header-text {
    font-family: Lobster, serif;
    text-align: left;
    margin: 25px auto -5px auto;
}

#summary-header .header-text {
    margin: auto;
}

#summary-header .header-text th {
    text-align: center;
    width: 250px;
}

#main-page #summary-header .header-text tr td {
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
}

    @media only screen and (max-width: 600px) {
        #calendar {
            width: 95%;
        }

        div.month-name {
            width: 95%;
        }

        #main-page #summary-header .header-text tr .hair-beard-img {
            width: 100px;
            height: 100px;
        }

        section #date-and-time span#date-and-time-header {
            font-size: 35px;
        }

        #morning-header, #afternoon-header, #evening-header {
            /*margin-top: 10px;*/
            /*height: 52px;*/
        }
        
        .times-container, .times-container-taken {
            float: right;
            margin-bottom: 20px;
        }
    }

    @media only screen and (max-width: 500px) {
        /*#morning-header div.times-container,*/
        /*#afternoon-header div.times-container,*/
        /*#evening-header div.times-container {*/
            /*margin-top: 30px;*/
        /*}*/

        #morning-header {
            font-size: 15px;
        }

        #summary-header .header-text th {
            width: 100px;
            font-size: 30px;
        }

        #main-page #summary-header .header-text tr .hair-beard-img {
            width: 80px;
            height: 80px;
        }

        #main-page #summary-header .header-text tr .barber-name {
            font-size: 35px;
        }

        section #date-and-time span#date-and-time-header {
            font-size: 27px;
        }

        .header-text-small {
            font-size: 20px;
        }

        section #date-and-time #date-and-time-times-container p.header-text {
            font-size: 30px;
        }
    }





/*********************/
/*
        GEGEVENS
                        */
/*********************/

#wrapper {
    /*background-color: purple;*/
    height: inherit;
    min-height: 400px;
    margin-bottom: 100px;
}

#summary-wrapper {
    /*background-color: green;*/
    border-right: 1px solid black;
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    width: 30%;
}

#summary-wrapper p.header-text {
    /*background-color: #d32a0e;*/
    font-family: Lobster, serif;
    margin: 0 0 50px 0;
}

#summary-wrapper-icon img {
    cursor: default;
    /*float: left;*/
}

#summary-wrapper-text {
    /*background-color: #d32a0e;*/
    /*float: left;*/
    margin-top: 35px;
}

#summary-wrapper-text .barber-name {
    /*background-color: blue;*/
    float: left;
    font-size: 45px;
    padding: 0 10px 0 10px;
    border-right: 1px solid black;
    height: 45px;
}

#summary-wrapper-text #chosen-time, #summary-wrapper-text #chosen-etime {
    /*background-color: yellow;*/
    position: relative;
    top: -15px;
    left: -5px;
    text-align: left;
    font-family: Nunito, serif;
    font-size: 25px;
}

#summary-wrapper-text-time span#chosen-etime {
    position: relative;
    top: -22px;
    font-size: 15px;
}

#summary-wrapper-text #chosen-time {
    margin: 10px auto 0 auto;
}

p#chosen-month {
    /*background-color: #00fafa;*/
    position: relative;
    top: -23px;
    font-family: Lobster, serif;
    font-size: 25px;
}

#gegevens-form {
    background-color: rgba(255, 255, 255, 0.55);
    float: left;
    width:65%;
    margin-left: 20px;
    padding-top: 20px;
}

#gegevens-form div {
    /*background-color: red;*/
    margin: auto;
    width: 250px;
}

#gegevens-form label {
    /*background-color: greenyellow;*/
    float: left;
    text-align: left;
    width: 150px;
}

#gegevens-form input[type="submit"] {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

#gegevens-form input[type="text"], #gegevens-form input[type="email"] {
    background-color: transparent;
    font-family: Nunito, serif;
    font-size: 17px;
    width: 100%;
    height: 25px;
    float: left;
    margin-bottom: 30px;
    border: 1px solid black;
}

    #gegevens-form input:focus {
        border: 1px solid #aeaeae;
    }

.input-text {
    font-family: Nunito, serif;
    font-size: 35px;
}

input[type="submit"]:active, input[type="submit"]:focus {
    outline: none;
    -moz-outline-style: 0;
}

input[type="submit"].button {
    margin: 0;
}

input[type="submit"].button:active, input[type="submit"].button:focus {
    outline: none;
    -moz-outline-style: 0;
}


@media only screen and (max-width: 1000px) {
    #wrapper {
        min-height: 0;
        margin-bottom: 10px;
    }

    #summary-wrapper {
        float: none;
        clear: both;
        width: 100%;
        border-right: none;
    }

    #gegevens-form {
        float: none;
        clear: both;
        margin: 10px 0 0 0;
        padding-bottom: 10px;
        width: 100%;
    }

    #chosen-month {
        position: relative;
    }

    #chosen-time, #chosen-etime {
        position: relative;
    }

    #summary-wrapper-icon {

    }

    #summary-wrapper-text .barber-name {

    }
}


/*********************/
/*
         MISC
                        */
/*********************/

#img-big {
    width: 250px;
    height: 250px;
    position: relative;
}

.bezet {
    background-color: #b50000;
    color: #f8f8f8;
}

.nietbezet {
    background-color: #13cb00;
    color: white;
}

.disabled {
    color: black;
    background-color: #cbcbcb;
}

.NextDay {
    color: black;

    cursor: pointer;
    padding: 4px 25px;
    background: #ffffff;
    border: 1px solid #000000;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0 .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);

    font-size: 0.8em;
    width: 90px;
}

    .NextDay:hover, .NextDay:focus {
        background-color: #d1d1d1;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }